.navigation{
    background-color: black;
}

.navigation a{
    display: inline-flex;
    color:white;
    background-color: inherit;
    /* border-color: black; */
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}
.navigation a:first-child{
    margin-left: 100px;
}
.navigation a:hover{
    color: wheat;
}